# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Dev / notebooks
notebooks/
*.ipynb
benchmark_notebook.py
data/

# DB local
*.db

# Git
.git/
.gitignore

# Env
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# Misc
README.md
*.png
*.pdf
